#project3D {
    position: absolute;
    top: 8%;
    left: 2%;
}

#project2D {
    position: absolute;
    top: 10%;
    left: 2%;
}

#projectRaycaster {
    position: absolute;
    top: 12%;
    left: 2%;
}