#menuBar {
    width: 100%;
    height: 5%;
    position: absolute;
    top: 0%;
    left: 0%;
    background-color: rgb(48, 48, 48);
}

#fpsLabel {
    position: absolute;
    top: 0%;
    left: 1%;
    font-size: 2vw;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}

#sceneView {
    position: absolute;
    left: 25%;
    width: 10%;
    height: 100%;
}

#xrayView {
    position: absolute;
    left: 35%;
    width: 10%;
    height: 100%;
}

#gameView {
    position: absolute;
    left: 45%;
    width: 10%;
    height: 100%;
}

#codeView {
    position: absolute;
    left: 55%;
    width: 10%;
    height: 100%;
}

#build {
    position: absolute;
    left: 90%;
    width: 10%;
    height: 100%;
}

#load {
    position: absolute;
    left: 85%;
    width: 5%;
    height: 100%;
}

#save {
    position: absolute;
    left: 80%;
    width: 5%;
    height: 100%;
}