#menuBar {
    width: 100%;
    height: 5%;
    position: absolute;
    top: 0%;
    left: 0%;
    background-color: rgb(48, 48, 48);
}

#fpsLabel {
    position: absolute;
    top: 0%;
    left: 1%;
    font-size: 3vh;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}

#sceneView {
    position: absolute;
    left: 25%;
    width: 10%;
    height: 100%;
}

#xrayView {
    position: absolute;
    left: 35%;
    width: 10%;
    height: 100%;
}

#gameView {
    position: absolute;
    left: 45%;
    width: 10%;
    height: 100%;
}

#codeView {
    position: absolute;
    left: 55%;
    width: 10%;
    height: 100%;
}

.saveDropdown {
    position: absolute;
    left: 90%;
    width: 10%;
    height: 100%;
    z-index: 1;
}

.saveDropdownMenu {
    position: absolute;
    left: 90%;
    top: 100%;
    width: 10%;
    height: 400%;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    display: none;
    z-index: 1;
}

.saveDropdown:hover+.saveDropdownMenu {
    display: block;
}

.saveDropdownMenu:hover {
    display: block;
}

#build {
    position: absolute;
    left: 0%;
    top: 66.6%;
    width: 100%;
    height: 33.3%;
}

#load {
    position: absolute;
    left: 0%;
    top: 33.3%;
    width: 100%;
    height: 33.3%;
}

#save {
    position: absolute;
    left: 0%;
    top: 0%;
    width: 100%;
    height: 33.3%;
}

@media (max-width:800px) {
    .saveDropdown {
        position: absolute;
        left: 85%;
        width: 15%;
        height: 100%;
        z-index: 1;
    }
    .saveDropdownMenu {
        position: absolute;
        left: 85%;
        top: 100%;
        width: 15%;
        height: 400%;
        box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
        display: none;
        z-index: 1;
    }
    #sceneView {
        position: absolute;
        left: 25%;
        width: 15%;
        height: 100%;
    }
    
    #xrayView {
        position: absolute;
        left: 40%;
        width: 15%;
        height: 100%;
    }
    
    #gameView {
        position: absolute;
        left: 55%;
        width: 15%;
        height: 100%;
    }
    
    #codeView {
        position: absolute;
        left: 70%;
        width: 15%;
        height: 100%;
    }
}