#gameWindow {
    width: 50%;
    height: 69%;
    position: absolute;
    left: 25%;
    top: 5.5%;
    background-color: white;
}

#objectHolder {
    width: 24%;
    height: 69%;
    position: absolute;
    top: 5.5%;
    left: 0.5%;
    background-color: rgb(63, 63, 63);
    overflow: auto;
}

#objectInspector {
    width: 24%;
    height: 69%;
    position: absolute;
    top: 5.5%;
    left: 75.5%;
    background-color: rgb(63, 63, 63);
}

body {
    margin: 0;
    background-color: rgb(48, 48, 48);
    color: white;
    font-size: 1vw;
    font-family: arial;
}

button {
    font-family: arial;
    color: #FFFFFF;
    font-size: 1vw;
    padding: 10px 25px;
    border-radius: 4px;
    border: 0px solid #333333;
    background: rgba(95, 95, 95, 0.452);
}

input {
    font-family: arial;
    color: #FFFFFF;
    font-size: 1vw;
    border-radius: 4px;
    border: 0px solid #333333;
    background: rgba(95, 95, 95, 0.452);
}

button:hover {
    color: #FFFFFF;
    background: #878787;
}

input:hover {
    color: #FFFFFF;
    background: #878787;
}

.objectDropdown {
    position: absolute;
    left: 70%;
    width: 30%;
    position: sticky;
    height: 10%;
    top: 0%;
}

.objectDropdownMenu {
    position: absolute;
    left: 55%;
    width: 30%;
    position: sticky;
    height: 30%;
    top: 10%;
    display: none;
    position: absolute;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.objectDropdown:hover + .objectDropdownMenu {display: block;}
.objectDropdownMenu:hover {
    display: block;
}

#addObject {
    position: absolute;
    width: 100%;
    top: 0%;
    height: 25%;
}

#addObject2 {
    position: absolute;
    width: 100%;
    top: 25%;
    height: 25%;
}

#upload {
    position: absolute;
    width: 100%;
    top: 50%;
    height: 25%;
}

#addObject3 {
    position: absolute;
    width: 100%;
    top: 75%;
    height: 25%;
}

#amountOfObjects {
    position: absolute;
    top: 0%;
}

.object {
    position: absolute;
    left: 1%;
}

#camera {
    position: absolute;
    top: 3.9%;
}